.grid {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.grid-item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#wrapper{
    width: 100%;
}

#logo{
    width:300px;
    height:215px;
    display: block;
    margin: auto;
}

.good {
    background-color: rgba(0, 255, 0, 0.5);
}

.bad {
    background-color: rgba(255, 0, 0, 0.5);
}

.good, .bad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


